.search-bar{
    color: cadetblue;;
}

/*styling edit button*/

.border {
  
}

.mr-0 {
  margin-right: 0 !important;
}
.ml-auto {
  margin-left:auto !important;
}
.d-block {
  display:block !important;
}
@media only screen and (max-width: 600px) {
#edit {
  position: absolute;
  right: 280px;  
  width: 60px;
  height: 40px;
} 

#delete {
  position: absolute;
  right: 230px;  
  width: 40px;
  height: 40px;
} 
}
